<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
    <style>
      body{
        margin: 0;
        padding: 0;

      }

    </style>
</head>
<body>
    <header class="header">
      
      <img src="/Flux_Dev_Logo_design_for_a_modern_weather_app_named_Weather_No_0.jpg" alt="Weather Now Logo" class="logo">

    </header>

    <div class="outside_form">
        <h1 class="title">Enter your city</h1>
    <form class="form" method="POST" action="/">  
        <input type="text" name="city" placeholder="Enter city name" required>
        <button type="submit">Get Weather</button>
    </form>
    </div>


        

    <script src="index.js"></script>
</body>
</html>